core/.stack-work/
core/resources/Phone.org
core/dist-newstyle
core/.env
core/hie.yaml
*.db

# Logs
web/*.local
web/*.log
web/dist
web/dist-ssr
web/lerna-debug.log*
web/logs
web/node_modules
web/npm-debug.log*
web/pnpm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
raycast/node_modules
raycast/dist
.DS_Store
.opencode/
tmp/
raycast/raycast-env.d.ts
.claude/tasks/
