*.iml
.gradle
/local.properties
/.idea
/build
/app/build
/dist
/keystores
/keystore.properties
*.jks
*.keystore
/captures
.externalNativeBuild
.cxx
/build-tools
/licenses
/platform-tools
/platforms
.knownPackages
